/eclipse/
/conf/
/docs/
/bin/
/.idea/
/runtime/
/reobf/
/logs/
/jars/assets/
/jars/crash-reports/
/jars/libraries/
/jars/resourcepacks/
/jars/saves/
/jars/options.txt
/jars/server.properties
/jars/servers.dat
/jars/usercache.json
/temp/
/CHANGELOG
/cleanup.bat
/cleanup.sh
/decompile.bat
/decompile.sh
/getchangedsrc.bat
/getchangedsrc.sh
/LICENSE.txt
/README.md
/recompile.bat
/recompile.sh
/reformat.bat
/reformat.sh
/reobfuscate.bat
/reobfuscate.sh
/reobfuscate_srg.bat
/reobfuscate_srg.sh
/startclient.bat
/startclient.sh
/startserver.bat
/startserver.sh
/updateids.sh
/updateids.bat
/updatemcp.bat
/updatemcp.sh
/updatemd5.bat
/updatemd5.sh
/updatenames.bat
/updatenames.sh
/out/
